@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.main-page {
  min-height: 100vh;
  background: $gradient-blue-subtle;

  @include flex-container(column, center, center);
}

.main-page-container {
  min-height: 100vh;

  @include flex-container(column);
}
