@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login-form {
  max-width: $width-full;
  width: $width-full;
  padding: $spacing-md;
  border-radius: $radius-lg;
  background-color: $color-background;

  @include flex-container(column, stretch, stretch, wrap, $spacing-lg);

  @include respond-to('mobile') {
    max-width: $width-lg;
    padding: $spacing-lg;
  }

  @include respond-to('tablet') {
    max-width: $width-sm;
    padding: $spacing-lg;
  }
}
